@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
.errorlist li{
	position: relative;
	color: red;
}

.user{
	font-size: 14px;
}
nav {
	background: #1b1b1b;
}
nav:after {
	content: '';
	clear: both;
	display: table;
}
nav .logo{
	float: left;
	color: white;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;

}
nav ul {
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
nav ul li {
	float: left;
	display: inline-block;
	background: #1b1b1b;
	margin: 0 5px;

}
nav ul li a {
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;

}
nav ul li a:hover{
	color: cyan;
	border-radius: 5px;
	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;
}
nav ul ul {
	position: absolute;
	top: 90px;
	border-top: 3px solid cyan;
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}
nav ul li:hover > ul {
	top: 70px;
	opacity: 1;
	visibility: visible;
}
nav ul ul li {
	position: relative;
	margin: 0;
	width: 160px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3) ;
}
nav ul ul li a{
	line-height: 50px;
}
nav ul ul li a:hover{
	color: cyan;
	box-shadow: none;
}
.show,.icon, .hiddenbtn {
	display: none;
}

@media all and (max-width:  968px){

	nav ul {
		margin-right: 0px;
		float: left;
	}
	nav .logo {
		padding-left: 30px;
		width: 100%;
	}
	nav ul li, nav ul ul li {
		display: block;
		width: 100%;
	}
	nav ul ul {
		top: 70px;
		position: static;
		border-top: none;
		float: none;
		display: none;
		opacity: 1;
		visibility: hidden;
	}
	.show {
		display: block;
		color: white;
		font-size: 18px;
		padding: 0 20px;
		line-height: 70px;
		cursor: pointer;
	}
	.show:hover {
		color: cyan;
	}
	nav ul li a:hover{
		box-shadow: none;
	}
	.icon{
		display: block;
		color: white ;
		position: absolute;
		right: 40px;
		line-height: 70px;
		font-size: 24px;
		cursor: pointer;
	}
	.show + a, ul{
		display: none;
	}
	[id^=btn]:checked + ul{
		display: block;
	}
	nav ul ul a{
		padding-left: 40px;
	}
	nav ul ul li{
		border-bottom: 0px;
	}
}
body{
	background: url("/static/img/ph1.jpg");
	height: 650px;


}
#body{
	background-color: rgba(250, 250, 250, 0.5);
}
#h1{
	border: solid 1px;
	border-radius: 20px;
	background-color: #2b3757;
	color: white;
	text-align: center;
	width: 650px;
	margin: 10px auto;
}


img{
	height: 33px;
	margin: 5px;
}


.form form{
	width: 100%;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;

}

#product{
	width: 98%;
	font-size: 18px;
	border-radius: 5px;
	
	padding: 3px;
	text-transform: uppercase;
	margin: 5px;
	margin-right: 10px;

}
#type{
	width: 140px;
	font-size: 18px;
	border-radius: 5px;
	
	height: 35px;
	margin: 5px;
}
#tag{
	width: 140px;
	font-size: 18px;
	border-radius: 5px;
	
	height: 35px;
	margin: 5px;
}
#user{
	width: 140px;
	font-size: 18px;
	border-radius: 5px;
	
	height: 35px;
	margin: 5px;
}

#validbtn{
	width: 100px;
	height: 35px;
	margin: 5px;
	border-radius: 10px;
	border: none;
	background-color: rgba(66, 72, 245, 0.5);
}
#validbtn:hover{
	background-color: rgba(66, 72, 245, 1);
}

p label{
	display: none;

}

.container{
	display: flex;
	flex-wrap: wrap;
}

.medicament-container{
	width: 32%;
	border: solid 2px black;
	border-radius: 20px;
	height: 430px;
	margin: 5px;
	text-align: center;
}

.article-container{
	width: 32%;
	border: solid 2px black;
	border-radius: 20px;
	height: 430px;
	margin: 5px;
	text-align: center;
}
.other-container{
	width: 32%;
	border: solid 2px black;
	border-radius: 20px;
	height: 430px;
	margin: 5px;
	text-align: center;
}

#mdc{
	height: 340px;
	margin: 5px;
	text-align: left;
	font-size: 24px;
	overflow: auto;

}
#art{

	height: 340px;
	margin: 5px;
	text-align: left;
	font-size: 24px;
	overflow: auto;
}
#other{

	height: 340px;
	margin: 5px;
	text-align: left;
	font-size: 24px;
	overflow: auto;
}
.vbtn{
	border-radius: 10px;
	background-color: rgb(245, 191, 66);
	padding: 5px;
}
.vbtn:hover{
	background-color:rgb(66, 147, 245) ;
}
input[type='checkbox'] {
    
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    margin-right: 5px;
}
input[type='checkbox']:checked {
    background: #abd;
}
.sub{
	font-size: 11px;
	color: grey;
}
label.Rupture{
	color: red;
	text-transform: capitalize;
}
label.Faible{
	color: orange;
	text-transform: capitalize;
}
label.Ord{
	color: blue;
	text-transform: capitalize;
}
#msg-1{
	margin: 5px;
	border: solid 1px;
	border-radius: 10px;
	padding: 5px;
	background-color:rgba(235, 64, 52, 0.5) ;
	animation: blinker 1s linear infinite;
}
.done{
	text-decoration: line-through;
	text-decoration-color: black;

}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.footer{
	text-align: center;
	background-color:#749c43 ;
	height: 80px;
	border-radius: 10px;
	
}


@media(max-width: 840px){
	#h1{
		width: auto;
	}
	.form form{
		display:flex;
	}
	.medicament-container{
		width: 480px;
	}
	.article-container{
		width: 480px;
	}
	.other-container{
		width: 480px;
	}
}