{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EasyCmd</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body >
	<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				
				<label for="btn-1" class="show">Daily Data + </label>
				<a href="#">Daily Data</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Close</a></li>
					<li><a href="{% url 'visualiser'%} ">Edit Gap</a></li>
					<li><a href="{% url 'visedit'%} ">Edit(All)</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Add Brd</a></li>
					<li><a href="{% url 'convention'%}">Show Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistic</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Add Patient</a></li>
					<li><a href="{% url 'vislab'%}">Show patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistic</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		</ul>
	</nav>
	<div id="body">
		<div id="h1"><h1>Gérer Vos Commandes Facilement</h1> </div>
		
		<div id="form" class="form">
			<form method="POST" action="">{% csrf_token%}
			{{form.as_p}}
			<input type="submit" name="send" value="Envoyer" id="validbtn">
			{% if messages %}
			{% for message in messages%}
				<p id="msg-1">{{message}}</p>
			{% endfor%}
			{% endif %}
			</form>

		</div>
		<div id="container" class="container">
			<div id="medicament-container" class="medicament-container">
				<h2>Médicaments ({{countmdc}})</h2>
				
				<form id="medicament-form" class="medicament-form" method="POST" action="manage/">{% csrf_token %}
					<div id="mdc" class="mdc">
						{% for mdc in mdcs%}


							{% if mdc.completed == True %}
								<label class="{{mdc.tags}} done">
								<input type="checkbox" value="{{mdc.product}}" name="checks"   id="{{mdc.id}}">{{mdc.product}} <span class="sub">{{mdc.username}}.{{mdc.creation_date}} </span>
								</label><br>
							{% else %}
								<label class="{{mdc.tags}}">
								<input type="checkbox" value="{{mdc.product}}" name="checks"   id="{{mdc.id}}">{{mdc.product}} <span class="sub">{{mdc.username}}.{{mdc.creation_date}} </span>
								</label><br>
							{% endif %}
							
						{% endfor %}
						
					</div>
					<input type="submit" name="cmd" value=" Commande Passée" class="vbtn">
					<input type="submit" name="arr" value="Produits Arrivés" class="vbtn">
				</form>
				
			</div>
			<div id="article-container" class="article-container">
				<h2>Articles ({{countart}})</h2>
				<form id="article-form" class="article-form" method="POST" action="manage/">{% csrf_token %}
					<div id="art" class="art">
						{% for art in arts%}
							{% if art.completed == True %}
								<label class="{{art.tags}} done">
								<input type="checkbox" value="{{art.product}}" name="checks"   id="{{art.id}}">{{art.product}} <span class="sub">{{art.username}}.{{art.creation_date}} </span>
								</label><br>
							{% else %}
								<label class="{{art.tags}}">
								<input type="checkbox" value="{{art.product}}" name="checks"   id="{{art.id}}">{{art.product}} <span class="sub">{{art.username}}.{{art.creation_date}} </span>
								</label><br>
							{% endif %}
						{% endfor %}
					</div>
					<input type="submit" name="cmd" value=" Commande Passée" class="vbtn">
					<input type="submit" name="arr" value="Produits Arrivés" class="vbtn">
				</form>
			</div>
			<div id="other-container" class="other-container">
				<h2>Autres ({{countother}})</h2>
				<form id="other-form" class="other-form" method="POST" action="manage/">{% csrf_token %}
					<div id="other" class="other">
						{% for autre in autres%}
							{% if autre.completed == True %}
								<label class="{{autre.tags}} done">
								<input type="checkbox" value="{{autre.product}}" name="checks"   id="{{autre.id}}">{{autre.product}} <span class="sub">{{autre.username}}.{{autre.creation_date}} </span>
								</label><br>
							{% else %}
								<label class="{{autre.tags}}">
								<input type="checkbox" value="{{autre.product}}" name="checks"   id="{{autre.id}}">{{autre.product}} <span class="sub">{{autre.username}}.{{autre.creation_date}} </span>
								</label><br>
							{% endif%}
						{% endfor %}
					</div>
					<input type="submit" name="cmd" value=" Commande Passée" class="vbtn">
					<input type="submit" name="arr" value="Produits Arrivés" class="vbtn">
				</form>
			</div>

		</div>
		</div>
		<footer>
			<div class="footer">
				<p> Copyright©2021 Phartec. All rights reserved</p>
				<p>Pour d'autre informations ou pour demander des produits sur commande veuillez me contacter sur cette mail : islamveto12@gmail.com</p>
			</div>
		</footer>
	
<script >
	
	document.getElementById('tag')[1].style.color="red";
	document.getElementById('tag')[2].style.color="orange";
	document.getElementById('tag')[3].style.color="#0d4991";

</script>

</body>
</html>