@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
.errorlist li{
	position: relative;
	color: red;
}

.user{
	font-size: 14px;
}
nav {
	background: #1b1b1b;
}
nav:after {
	content: '';
	clear: both;
	display: table;
}
nav .logo{
	float: left;
	color: white;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;

}
nav ul {
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
nav ul li {
	float: left;
	display: inline-block;
	background: #1b1b1b;
	margin: 0 5px;

}
nav ul li a {
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;

}
nav ul li a:hover{
	color: cyan;
	border-radius: 5px;
	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;
}
nav ul ul {
	position: absolute;
	top: 90px;
	border-top: 3px solid cyan;
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}
nav ul li:hover > ul {
	top: 70px;
	opacity: 1;
	visibility: visible;
}
nav ul ul li {
	position: relative;
	margin: 0;
	width: 160px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3) ;
}
nav ul ul li a{
	line-height: 50px;
}
nav ul ul li a:hover{
	color: cyan;
	box-shadow: none;
}
.show,.icon, .hiddenbtn {
	display: none;
}

@media all and (max-width:  968px){

	nav ul {
		margin-right: 0px;
		float: left;
	}
	nav .logo {
		padding-left: 30px;
		width: 100%;
	}
	nav ul li, nav ul ul li {
		display: block;
		width: 100%;
	}
	nav ul ul {
		top: 70px;
		position: static;
		border-top: none;
		float: none;
		display: none;
		opacity: 1;
		visibility: hidden;
	}
	.show {
		display: block;
		color: white;
		font-size: 18px;
		padding: 0 20px;
		line-height: 70px;
		cursor: pointer;
	}
	.show:hover {
		color: cyan;
	}
	nav ul li a:hover{
		box-shadow: none;
	}
	.icon{
		display: block;
		color: white ;
		position: absolute;
		right: 40px;
		line-height: 70px;
		font-size: 24px;
		cursor: pointer;
	}
	.show + a, ul{
		display: none;
	}
	[id^=btn]:checked + ul{
		display: block;
	}
	nav ul ul a{
		padding-left: 40px;
	}
	nav ul ul li{
		border-bottom: 0px;
	}
	div#container{
		width: 97%;
		display: block;

	}
	div#div-1{
		width: 100%;

	}
	div#div-2{
		margin: 0px;
		margin-left: 0px;

	}
	table{
		font-size: 11px;
		padding: 0px;
		margin-top: 10px;
	}
}



body {
	background: #9da9d1;
}
#container{
	display: flex;
	margin: 5px;
	padding: 5px;
}
h1{
	text-align: center;
}
#div-1 {
	width: 30%;
	border: 2px solid black;
	border-radius: 10px;
	padding-left: 15px;
}
p{
	margin: 5px;
}
p label{
	display: block;
}
p input {
	border-radius: 7px;
	outline: none;
	font-size: 18px;
	padding-left: 5px;

}
p label{
	font-weight: bold;
}
#send{
	border-radius: 5px;
	margin: 7px;
	margin-left: 40%;
	width: 90px;
	font-size: 20px;
	background: skyblue;
}
#send:hover{
	background: green;
}


#div-2 {
	margin-left: 50px;
}
table,th {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
	font-size: 15px;
}

td{
	border-bottom: 1px solid black;
	padding: 5px;
}
tr:hover{
	background-color: whitesmoke;
}