{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Conventions Managment</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/closure/brd.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="{% url 'easycmd'%} ">Orders</a></li>
			<li>
				
				<label for="btn-1" class="show">Daily Data + </label>
				<a href="#">Daily Data</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Close</a></li>
					<li><a href="{% url 'visualiser'%} ">Edit Gap</a></li>
					<li><a href="{% url 'visedit'%} ">Edit(All)</a></li>
					<li><a href="{% url 'cashstat'%} ">Statistic</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Add Brd</a></li>
					<li><a href="{% url 'convention'%}">Show Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistic</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Add Patient</a></li>
					<li><a href="{% url 'vislab'%}">Show patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistic</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		</ul>
	</nav>
	<div id="container">
		<div id="aj_container">

			<h2> Add a Convention Info </h2>
			<form method="POST" action="add/" id="aj_form">{% csrf_token %}
				
				{{form.as_p}}
				{{form.errors}}
				<input type="submit" name="valider" value="Valider" id="valid">

				
			</form>
		
		
	</div>
	{% if messages%}
		{% for message in messages %}
			<div id="message">{{message}}</div>
					
		{% endfor %}
	{% endif %}
	<div id="disp_container">
		<table class="table table-hover ">
			<tr>
				<th>Center</th>
				<th>Slip N°</th>
				<th>Closing Date</th>
				<th>Pres.C</th>
				<th>Slips Amount</th>
				<th>Diposit Day</th>
				<th>Sheet Date</th>
				<th>Pres Sheet N°</th>
				<th>Sheet Amount</th>
				<th>Payment Day</th>
				<th> Gap</th>
				<th>Pres Gap</th>
				<th>Pay Stat</th>
			</tr>
			

		
		{% for brd in brds %}
			
			{% if brd.payement == True %}

				<tr style="color:green;">
					<td> {{brd.pay_ctr}} </td>
					<td> <a href="{%url 'editbrd' brd.id %}">{{brd.n_brd}}</a> </td>
					<td> {{brd.dt_clo}} </td>
					<td> {{brd.n_ord}} </td>
					<td> {{brd.m_brd}} </td>
					<td> {{brd.dt_depot}} </td>
					<td> {{brd.dt_jrl}} </td>
					<td> {{brd.n_ord_jrl}} </td>
					<td> {{brd.m_jrl}} </td>
					<td> {{brd.dt_pay}} </td>
					<td> {{brd.defr}} </td>
					<td>{{brd.def_o}}</td>
					<td >  {% if brd.payement == True %} Payed {%else%} Not Payed {% endif %}</td>
				</tr>
			{% else %}
				<tr>
					<td> {{brd.pay_ctr}} </td>
					<td> <a href="{%url 'editbrd' brd.id %}">{{brd.n_brd}}</a> </td>
					<td> {{brd.dt_clo}} </td>
					<td> {{brd.n_ord}} </td>
					<td> {{brd.m_brd}} </td>
					<td> {{brd.dt_depot}} </td>
					<td> {{brd.dt_jrl}} </td>
					<td> {{brd.n_ord_jrl}} </td>
					<td> {{brd.m_jrl}} </td>
					<td> {{brd.dt_pay}} </td>
					<td> {{brd.defr}} </td>
					<td>{{brd.def_o}}</td>
					<td >  {% if brd.payement == True %} Payed {%else%} Not Payed {% endif %}</td>
				</tr>

			{% endif %}

		{% endfor %}
		</table>
	</div>
</body>
</html>