{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestions Des Bordereaux</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/closure/brd.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
		<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Acceuil</a></li>
			<li><a href="{% url 'easycmd'%}">Commande</a></li>
			
			<li>
				
				<label for="btn-1" class="show">Journal + </label>
				<a href="#">Journal</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Cloturer</a></li>
					<li><a href="{% url 'visualiser'%} ">Editer l'écart</a></li>
					<li><a href="{% url 'visedit'%} ">Editer tous</a></li>
					<li><a href="{% url 'cashstat'%} ">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Ajouter Brd</a></li>
					<li><a href="{% url 'convention'%}">Afficher Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Ajout Patient</a></li>
					<li><a href="{% url 'vislab'%}">Patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Déconnecter</a></li>
		</ul>
	</nav>
	<div id="container">
		<div id="aj_container">

			<h2> Ajouter Un Bordereau </h2>
			<form method="POST" action="add/" id="aj_form">{% csrf_token %}
				
				{{form.as_p}}
				{{form.errors}}
				<input type="submit" name="valider" value="Valider" id="valid">

				
			</form>
		
		
	</div>
	{% if messages%}
		{% for message in messages %}
			<div id="message">{{message}}</div>
					
		{% endfor %}
	{% endif %}
	<div id="disp_container">
		<table class="table table-hover ">
			<tr>
				<th>Centre</th>
				<th>N° Brd</th>
				<th>Date Cloture</th>
				<th>N° Ord</th>
				<th>Montant Brd</th>
				<th>Date Depot</th>
				<th>Date Journal</th>
				<th>N° Ord Journal</th>
				<th>Montant Journal</th>
				<th>Date Présumé Pay</th>
				<th> Ecart</th>
				<th>Ecart N° Ord </th>
				<th>Pay Status</th>
			</tr>
			

		
		{% for brd in brds %}
			
			{% if brd.payement == True %}

				<tr style="color:green;">
					<td> {{brd.pay_ctr}} </td>
					<td> <a href="{%url 'editbrd' brd.id %}">{{brd.n_brd}}</a> </td>
					<td> {{brd.dt_clo}} </td>
					<td> {{brd.n_ord}} </td>
					<td> {{brd.m_brd}} </td>
					<td> {{brd.dt_depot}} </td>
					<td> {{brd.dt_jrl}} </td>
					<td> {{brd.n_ord_jrl}} </td>
					<td> {{brd.m_jrl}} </td>
					<td> {{brd.dt_pay}} </td>
					<td> {{brd.defr}} </td>
					<td>{{brd.def_o}}</td>
					<td >  {% if brd.payement == True %} Payed {%else%} Not Payed {% endif %}</td>
				</tr>
			{% else %}
				<tr>
					<td> {{brd.pay_ctr}} </td>
					<td> <a href="{%url 'editbrd' brd.id %}">{{brd.n_brd}}</a> </td>
					<td> {{brd.dt_clo}} </td>
					<td> {{brd.n_ord}} </td>
					<td> {{brd.m_brd}} </td>
					<td> {{brd.dt_depot}} </td>
					<td> {{brd.dt_jrl}} </td>
					<td> {{brd.n_ord_jrl}} </td>
					<td> {{brd.m_jrl}} </td>
					<td> {{brd.dt_pay}} </td>
					<td> {{brd.defr}} </td>
					<td>{{brd.def_o}}</td>
					<td >  {% if brd.payement == True %} Payé {%else%} En Attente {% endif %}</td>
				</tr>

			{% endif %}

		{% endfor %}
		</table>
	</div>
</body>
</html>