{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cash Statistics </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/closure/cashstat.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>

	<script text="javascript">
	    setTimeout(fade_out, 3000);
	    function fade_out() {
	        $("#msg").fadeOut().empty();
	    }

	    	
	</script>
</head>
<body>
	<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="{% url 'easycmd'%} ">Orders</a></li>
			<li>
				
				<label for="btn-1" class="show">Daily Data + </label>
				<a href="#">Daily Data</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Close</a></li>
					<li><a href="{% url 'visualiser'%} ">Edit Gap</a></li>
					<li><a href="{% url 'visedit'%} ">Edit(All)</a></li>
					<li><a href="{% url 'cashstat'%} ">Statistic</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Add Brd</a></li>
					<li><a href="{% url 'convention'%}">Show Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistic</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Add Patient</a></li>
					<li><a href="{% url 'vislab'%}">Show patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistic</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		</ul>
	</nav>


	<h1> Cash Statistics </h1>


	<div id="container">
		<div id="stat_container" >
			<div id="form-div">
				<form method="POST" action="">{% csrf_token %}
					<label for="sdate" >Select Data From :</label>
					<input type="date" name="sdate" id="sdate">
					<label for="edate"> Until : </label>
					<input type="date" name="edate" id="edate">
					<select name="usern">
						<option></option>
						{% for user in users %}
							<option>{{user}}</option>
						{% endfor %}
					</select>
					
					<input type="submit" name="valid" value="Get Data" id="g-btn">
				</form>
				
			</div>
			<div id="table1-div">
				<table id="table1">
					<tr id="tr">
						<th>Count</th>
						<th>Sum</th>
						<th>Average</th>
						<th>Min</th>
						<th>Max</th>
						<th>Gap</th>
					</tr>
					<tr>
						<td>{{count}} </td>
						<td>{{cash}} </td>
						<td> {{avg|floatformat:2}}</td>
						<td>{{mincash}} </td>
						<td>{{maxcash}} </td>
						<td>{{gap}} </td>
					</tr>
				</table>
				
			</div>
	</div>
	<div id="message">
		{% if messages %}
			{% for message in messages %}
				<h3 id="msg"> {{message}}</h3>
			{% endfor %}
		{% endif %}	
	</div>
	<div id="journal-div">
		<table >
			<tr id="tr1">
				<th>Creation Date</th>
				<th>Closing Paper</th>
				<th>Software</th>
				<th>Cash Box</th>
				<th>Calc Gap</th>
			</tr>

		{% for data in datas %}
	
			<tr id="{{data.id}}">
				<td> {{data.day}}</td>
				<td> {{data.closure_paper__sum}} </td>
				<td> {{data.wasfa__sum|floatformat:2}} </td>
				<td> {{data.real_money__sum}} </td>
				<td> {{data.ecart__sum|floatformat:0}}</td>

			</tr>
		{% endfor %}
		{% for data in sdata %}
	
			<tr >
				<td> {{data.creation_date}}</td>
				<td> {{data.closure_paper}} </td>
				<td> {{data.wasfa}} </td>
				<td> {{data.real_money}} </td>
				<td> {{data.ecart}}</td>

			</tr>

		{% endfor %}
		</table>

	</div>
		
	</div>
</body>
</html>