{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cloturer la journée</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/closure/cloture.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		

</head>
<body>
		<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Acceuil</a></li>
			<li><a href="{% url 'easycmd'%}">Commande</a></li>
			
			<li>
				
				<label for="btn-1" class="show">Journal + </label>
				<a href="#">Journal</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Cloturer</a></li>
					<li><a href="{% url 'visualiser'%} ">Editer l'écart</a></li>
					<li><a href="{% url 'visedit'%} ">Editer tous</a></li>
					<li><a href="{% url 'cashstat'%} ">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Ajouter Brd</a></li>
					<li><a href="{% url 'convention'%}">Afficher Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Ajout Patient</a></li>
					<li><a href="{% url 'vislab'%}">Patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Déconnecter</a></li>
		</ul>
	</nav>
	<div id="container">
		<div id="div-1"> 
			<h1> Cloturer La Journée</h1>
			<form method="POST" action="">{% csrf_token %}
				{{form.as_p}}
				<input type="submit" name="valider" value="Valider" id="send" >
			</form>
		</div>
		<div id="div-2">
			<table class="table table-hover">
				<tr>
					<th>Date Creation </th>
					<th> Nom D'Utilisateur</th>
					<th>Monais De Cloture</th>
					<th> Ecart Connu</th>
					<th>Details</th>
					<th>Ecart Calculé</th>
				</tr>
				{% for data in datas %}
				<tr id="{{data.id}}">
					<td>{{data.creation_date}}</td>
					<td>{{data.username}}</td>
					<td>{{data.closure_money}}</td>
					<td>{{data.money}}</td>
					<td>{{data.details}}</td>
					<td>{{data.ecart}}</td>
					<td><a href="{% url 'editus' data.id %}">Editer</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
</body>
</html>