{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Conventions Statistiques</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/closure/stat.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Acceuil</a></li>
			<li><a href="{% url 'easycmd'%}">Commande</a></li>
			
			<li>
				
				<label for="btn-1" class="show">Journal + </label>
				<a href="#">Journal</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Cloturer</a></li>
					<li><a href="{% url 'visualiser'%} ">Editer l'écart</a></li>
					<li><a href="{% url 'visedit'%} ">Editer tous</a></li>
					<li><a href="{% url 'cashstat'%} ">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Ajouter Brd</a></li>
					<li><a href="{% url 'convention'%}">Afficher Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Ajout Patient</a></li>
					<li><a href="{% url 'vislab'%}">Patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Déconnecter</a></li>
		</ul>
	</nav>	
	<div id="gcontainer">
		<div id="container-1">
			<form method="POST" action="">{% csrf_token %}
				<div id="date-1">
					<label for="depart"> De :</label>
					<input type="date" name="depart" class="date">
				</div>
					
				<div id="date-2">
					<label for="fin"> Jusqu'à :</label>
					<input type="date" name="fin" class="date">
				</div>
					
					<input type="submit" name="get" value="Valider" id="v-btn">
			</form>	
		
			
			<table class="table table-hover ">
				<tr>
					<th></th>
					<th> Bordereaux</th>
					<th> Jornaux </th>
					<th>retour Non Traiter</th>
				</tr>

				<tr>
					<th>CNAS</th>
					<th> {{cnasb}}</th>
					<th> {{cnasj}} </th>
					<th> {{cnase}} </th>
				</tr>

				<tr>
					<th>CASNOS</th>
					<th> {{casnosb}}</th>
					<th> {{casnosj}} </th>
					<th> {{casnose}} </th>
				</tr>

				<tr>
					<th>Convention Militaire</th>
					<th>{{cmb}} </th>
					<th> {{cmj}} </th>
					<th> {{cme}} </th>
				</tr>
			</table>
		</div>
		<div id="container-2">
			<label> Le Montant CNAS : </label>
			<label style="font-weight: bold;"> {{cnast}} DA</label>
			<br>
			<label> Le Montant CASNOS : </label>
			<label style="font-weight: bold;"> {{casnost}} DA</label>
			<br>
			<label> Le Montant Caisse Militaire </label>
			<label style="font-weight: bold;"> {{cm}} DA</label>
			<br>
			<label> Total est :  </label>
			<label style="font-weight: bold;"> {{mtbrd}} DA</label>
			<br>
			<label> Le Montant De Retour Non Traiter :  </label>
			<label style="font-weight: bold;"> {{ecartt}} DA</label>

	
		</div>


</div>



</body>
</html>