{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Statistics</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/closure/stat.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="{% url 'easycmd'%}">Orders</a></li>
			
			<li>
				
				<label for="btn-1" class="show">Daily Data + </label>
				<a href="#">Daily Data</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Close</a></li>
					<li><a href="{% url 'visualiser'%} ">Edit Gap</a></li>
					<li><a href="{% url 'visedit'%} ">Edit(All)</a></li>
					<li><a href="{% url 'cashstat'%} ">Statistic</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Add Brd</a></li>
					<li><a href="{% url 'convention'%}">Show Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistic</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Add Patient</a></li>
					<li><a href="{% url 'vislab'%}">Show patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistic</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		</ul>
	</nav>		
	<div id="gcontainer">
		<div id="container-1">
			<form method="POST" action="">{% csrf_token %}
				<div id="date-1">
					<label for="depart"> from :</label>
					<input type="date" name="depart" class="date">
				</div>
					
				<div id="date-2">
					<label for="fin"> Until :</label>
					<input type="date" name="fin" class="date">
				</div>
					
					<input type="submit" name="get" value="Valider" id="v-btn">
			</form>	
		
			
			<table class="table table-hover ">
				<tr>
					<th></th>
					<th> Slips</th>
					<th> Sheets </th>
					<th>Return Not Processed</th>
				</tr>

				<tr>
					<th>CNAS</th>
					<th> {{cnasb}}</th>
					<th> {{cnasj}} </th>
					<th> {{cnase}} </th>
				</tr>

				<tr>
					<th>CASNOS</th>
					<th> {{casnosb}}</th>
					<th> {{casnosj}} </th>
					<th> {{casnose}} </th>
				</tr>

				<tr>
					<th>Military Convention</th>
					<th>{{cmb}} </th>
					<th> {{cmj}} </th>
					<th> {{cme}} </th>
				</tr>
			</table>
		</div>
		<div id="container-2">
			<label> The Amount Of CNAS Convention : </label>
			<label style="font-weight: bold;"> {{cnast}} DA</label>
			<br>
			<label> The Amount Of CASNOS Convention : </label>
			<label style="font-weight: bold;"> {{casnost}} DA</label>
			<br>
			<label> The Amount Of Military Convention: </label>
			<label style="font-weight: bold;"> {{cm}} DA</label>
			<br>
			<label> Total is :  </label>
			<label style="font-weight: bold;"> {{mtbrd}} DA</label>
			<br>
			<label> The Amount Of return Not Processed :  </label>
			<label style="font-weight: bold;"> {{ecartt}} DA</label>

	
		</div>


</div>



</body>
</html>