<!DOCTYPE html>
<html>
<head>
	<title>View Data and Edit</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<style>
		table, th, td{
			border:1px solid black;
			border-collapse: collapse;
			padding: 10px
		}
		#h{text-decoration: none;}
		}
		
	</style>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <div class="container-fluid"  style="text-align: center;">
	    <h1 class="navbar-brand">Daily Data </h1>
		<button class="btn btn-outline-success" type="submit"><a id="h" href="/" style="float: right;">Home Page</a></button>
		   
	  </div>
	</nav>
	<table class="table table-hover ">
		<tr id="tr1">
			<th>Creation Date</th>
			<th> Username</th>
			<th> Start Money</th>
			<th>Closing Money</th>
			<th>Closing Paper</th>
			<th> Known Gap</th>
			<th>Gap Details</th>
			<th>Software</th>
			<th>Cash Box</th>
			<th>Calc Gap</th>
		</tr>
		{% for data in getdata %}
	
			<tr id="{{data.id}}">
				<td> {{data.creation_date}}</td>
				<td> {{data.username}}</td>
				<td> {{data.start_money}} </td>
				<td> {{data.closure_money}}</td>
				<td> {{data.closure_paper}} </td>
				<td> {{data.money}}</td>
				<td> {{data.details}}</td>
				<td> {{data.wasfa}} </td>
				<td> {{data.real_money}} </td>
				<td> {{data.ecart}}</td>
				<td><a href=" {% url 'editad' data.id %} ">Edit</a></td>
			</tr>

		{% endfor %}
	</table>



	

</body>
</html>