<!DOCTYPE html>
<html>
<head>
	<title>Visualiser et Editer</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<style>
		table, th, td{
			border:1px solid black;
			border-collapse: collapse;
			padding: 10px
		}
		#h{text-decoration: none;}
		}
		
	</style>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <div class="container-fluid">
	    <h1 class="navbar-brand">Les données journalieres</h1>
		    <form class="d-flex">
		      <button class="btn btn-outline-success" type="submit"><a id="h" href="/" style="float: right;">Page d'acceuil</a></button>
		    </form>
	  	</div>
	</nav>
	<table class="table table-hover ">
		<tr id="tr1">
			<th>Creation Date</th>
			<th> Username</th>
			<th> Arg Drg</th>
			<th>Arg Clo</th>
			<th>Biais de Cloture</th>
			<th> Ecart</th>
			<th>Details</th>
			<th>Wasfa</th>
			<th>Caisse</th>
			<th>Ecart Estimé</th>
		</tr>
		{% for data in getdata %}
	
			<tr id="{{data.id}}">
				<td> {{data.creation_date}}</td>
				<td> {{data.username}}</td>
				<td> {{data.start_money}} </td>
				<td> {{data.closure_money}}</td>
				<td> {{data.closure_paper}} </td>
				<td> {{data.money}}</td>
				<td> {{data.details}}</td>
				<td> {{data.wasfa}} </td>
				<td> {{data.real_money}} </td>
				<td> {{data.ecart}}</td>
				<td><a href=" {% url 'editad' data.id %} ">Edit</a></td>
			</tr>

		{% endfor %}
	</table>



	

</body>
</html>