<!DOCTYPE html>
<html>
<head>
	<title>Visualiser Les données Journalier</title>
	<style>
		table, th, td{
			border:1px solid black;
			border-collapse: collapse;
			padding: 15px
		}
	</style>
</head>
<body>
	<h1> Les données journalieres </h1>
	<table>
		<tr>
			<th>Creation Date</th>
			<th> Username</th>
			<th>Start money</th>
			<th>closing money</th>
			<th>Closing Paper</th>
			<th> Money</th>
			<th>Details</th>
			<th>Wasfa</th>
			<th>Real Money</th>
			<th>Ecart</th>
		</tr>
		{% for data in datas %}
		<tr id="{{data.id}}">
			<th>{{data.creation_date}}</th>
			<th>{{data.username}}</th>
			<th>{{data.start_money}}</th>
			<th>{{data.closure_money}}</th>
			<th>{{data.closure_paper}}</th>
			<th>{{data.money}}</th>
			<th>{{data.details}}</th>
			<th>{{data.wasfa}}</th>
			<th>{{data.real_money}}</th>
			<th>{{data.ecart}}</th>
			<th><a href="">Edit</a></th>
			<th><input type="submit" name="delete" value="Delete"></th>
		</tr>
		{% endfor %}
	</table>



	

</body>
</html>