<!DOCTYPE html>
<html>
<head>
	<title>Make an Order</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<style>
		#msg{
			border: solid red 1px;
			padding:10px;
			margin: 10px;
			text-align: center;
			background-color: red;
			border-radius: 20px;

		}
		li{list-style: none;}

		}
	</style>
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>

	<script text="javascript">
	    setTimeout(fade_out, 3000);
	    function fade_out() {
	        $("#msg").fadeOut().empty();
	    }

	    	
</script>
</head>
<body >
	<nav class="navbar navbar-light bg-light">
  		<div id="navdiv">
  			<a href="{% url 'home' %}"><button class="btn btn-outline-success ms-5 me-4" type="button">Home Page</button></a>
		    
		    <a href="{% url 'visedit' %}"> <button class="btn btn-outline-success ms-5 me-4" type="button">Edit Data</button></a>
			<a href="{% url 'visualiser' %}"><button class="btn btn-outline-success ms-5 me-4" type="button">View Gap</button></a>
			<a href="{% url 'convention' %}"> <button class="btn btn-outline-success ms-5 me-4" type="button">Conventions Managment</button></button></a>
		    <a href="{% url 'logout' %}"><button class="btn btn-outline-success ms-5 me-4" type="button">Logout</button></a>
		   
		    
 		</div>
</nav>
	<h1 style="text-align: center; border: solid black 3px; border-radius: 10px; background-color: #8df542; margin: 10px;"> My Orders</h1>
	{% if messages %}
		{% for message in messages %}
			<h3 id="msg">{{message}}</h3>

		{% endfor %}
	{% endif %}
	<div style="display: flex;flex-wrap: wrap;">
		
	<div style="border: solid 2px green; width: 45%; padding-left: 10px; margin: 20px; border-radius: 10px;">
	<h3 style="font-size: 30px; text-align: center;">Drugs Order</h3>
	
		
	<form action="add/" method="POST">{% csrf_token %}
		<input type="text" name="name" required autofocus style="border-radius: 10px; font-size: 24px;outline: none;">
		<input type="submit" value="Ajouter" style="border-radius: 10px; background-color: #eb6e34; width: 100px; height: 33px;">
	</form>
	


	{% for item in medocs %}
		{% if item.med_cmded == True %}
			<p>
			<div style="border: solid black 2px; border-radius: 20px; display: inline-block; padding: 4px; margin: 0px; background-color: green;font-weight: bold; text-transform: uppercase;" id="{{item.id}}">
			<form method="POST" action="delete/{{item.id}}/" id="{{item.id}}" style="float: left;"> {% csrf_token %}
				<input type="submit" name="delete" value="✘" >
			</form>
			<form method="POST" action="mark/{{item.id}}/" style="float: left;"> {% csrf_token %}
				<input type="submit" name="selected" value="✓">

			</form>
			{{item.name}}
		</div>
		</p>

		{% else  %}
			<p>
				<div style="border: solid black 2px; border-radius: 20px; display: inline-block; padding: 4px; margin: 0px; background-color: #5dd9d9;font-weight: bold; text-transform: uppercase;" id="{{item.id}}">
				<form method="POST" action="delete/{{item.id}}/" id="{{item.id}}" style="float: left;"> {% csrf_token %}
					<input type="submit" name="delete" value="✘" >
				</form>
				<form method="POST" action="mark/{{item.id}}/" style="float: left;"> {% csrf_token %}
					<input type="submit" name="selected" value="✓">

				</form>
				{{item.name}}
			</div>
			</p>
		{% endif %}
	{% endfor %}
		
	</div>
<!--------------------------------------------------------------------------------------------------------->
	<div style="border: solid 2px red; width: 45%; padding-left: 10px; margin: 20px; border-radius: 10px">
		<h3 style="margin-top: 10px; font-size:27px;text-align: center;">Order of Paramedical and Cosmetic Products</h3>
		
		<form action="addArt/" method="POST">{% csrf_token %}
		<input type="text" name="nameart" required style="border-radius: 10px; font-size: 24px;outline: none;">
		<input type="submit" value="Ajouter" style="border-radius: 10px; background-color: #eb6e34; width: 100px; height: 33px;">
	</form>


{% for art in arts %}
		{% if art.art_cmded == True %}
			<p>
			<div style="border: solid black 2px; border-radius: 20px; display: inline-block; padding: 4px; margin: 0px; background-color: green;font-weight: bold; text-transform: uppercase;" id="{{art.id}}">
			<form method="POST" action="deleteart/{{art.id}}/" id="{{art.id}}" style="float: left;"> {% csrf_token %}
				<input type="submit" name="delete" value="✘" >
			</form>
			<form method="POST" action="markart/{{art.id}}/" style="float: left;"> {% csrf_token %}
				<input type="submit" name="selected" value="✓">

			</form>
			{{art.nameart}}
		</div>
		</p>

		{% else  %}
			<p>
				<div style="border: solid black 2px; border-radius: 20px; display: inline-block; padding: 4px; margin: 0px; background-color: #5dd9d9;font-weight: bold; text-transform: uppercase;" id="{{art.id}}">
				<form method="POST" action="deleteart/{{art.id}}/" id="{{art.id}}" style="float: left;"> {% csrf_token %}
					<input type="submit" name="delete" value="✘" >
				</form>
				<form method="POST" action="markart/{{art.id}}/" style="float: left;"> {% csrf_token %}
					<input type="submit" name="selected" value="✓">

				</form>
				{{art.nameart}}
			</div>
			</p>
		{% endif %}
	{% endfor %}





<!--
	{% for art in arts %}
		<p>
			<form method="POST" action="deleteart/{{art.id}}/"> {% csrf_token %}
				<input type="submit" value="✓">
				<input type="submit" name="delete" value="X">
				{{art.nameart}}
			</form>
		</p>
	{% endfor %}

	</div>

	</div>
-->
</body>
</html>