<!DOCTYPE html>
<html>
<head>
	<title>Lab Visualisation </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<style>
		table, th, td{
			border:1px solid black;
			border-collapse: collapse;
			padding: 20px
			margin:auto;
			font-size: 18px
		}
		#p{
			width: 500px;
		}
		#i{
			width: 100px;

		}
		h1{
			text-align: center;
			border-radius: 20px;
			background-color:#3492eb; 
			padding: 10px;
			margin: 10px;
		}
		#sdate{
			margin: 10px;
		}
		#ddiv{
			border-radius: 20px;
			background-color:#34eba1; 
			text-align: center;
		}
		#vdate{
			margin-left:5%;
		}
		
	</style>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
        <div id="navdiv">
            <a href="{% url 'home' %}"><button class="btn btn-outline-success ms-5 me-4" type="button">Page D'Acceuil</button></a>
            <a href="{% url 'calclab' %}"> <button class="btn btn-outline-success ms-5 me-4" type="button">Previous Page</button></a>
            
            <a href="{% url 'visedit' %}"> <button class="btn btn-outline-success ms-5 me-4" type="button">Editer les données Journalier</button></a>
            <a href="{% url 'convention' %}"> <button class="btn btn-outline-success ms-5 me-4" type="button">Suivi des bordereaux</button></button></a>

            <a href="{% url 'logout' %}"><button class="btn btn-outline-success ms-5 me-4" type="button">Logout</button></a>
           
            
        </div>
    </nav>
<h1> Laboratoire </h1>
<div id="ddiv">
	<form method="POST" action="">{% csrf_token %}
	<label> Choisir la date de prelevement de : </label>
	<input type="date" name="sdate"  id="sdate">
	<label> Jusqu'a : </label>
	<input type="date" name="ldate"  id="ldate">
	<input type="submit" name="valid" value="Valider" class="btn btn-primary" id="vdate">	
	</form>
</div>
{% block content %}
<table class="table table-hover ">
	<tr>
		<th>La date</th>
		<th> Nom Du Patient</th>
		<th>Date de Naissance</th>
		<th id="p">Parametres realisés</th>
		<th>Prix</th>
		<th>Versement</th>
		<th>Le Reste</th>
		<th id="i">Information Supplementaire</th>
	</tr>
	{% for data in getdata %}
	<tr>
		<td id="dt">{{data.dt}}</td>
		<td style="text-transform: uppercase;font-size: 15px">{{data.p_name}}</td>
		<td>{{data.dob}}</td>
		<td>{{data.params}}</td>
		<td>{{data.price}}</td>
		<td><a href="{% url 'editprev' data.id %}"> {{data.pay}}</a></td>
		<td>{{data.rest}}</td>
		<td>{{data.info}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

</body>
</html>