{% extends 'editlab.html '%}




{% block content %}
	<table class="table table-hover ">
		<tr>
			<th>Date</th>
			<th> Patiente Name</th>
			<th>Date Of Birth</th>
			<th id="p">The Achieved Analysis</th>
			<th>Price</th>
			<th>Payment</th>
			<th>The Rest</th>
			<th id="i">Additional Informations</th>
		</tr>
		{% for data in getsdata %}
		<tr>
			<td id="dt">{{data.dt}}</td>
			<td style="text-transform: uppercase;font-size: 15px">{{data.p_name}}</td>
			<td>{{data.dob}}</td>
			<td>{{data.params}}</td>
			<td>{{data.price}}</td>
			<td><a href="{% url 'editprev' data.id %}"> {{data.pay}}</a></td>
			<td>{{data.rest}}</td>
			<td>{{data.info}}</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}