{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Statistiques Labo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/labo/labstat.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
		<nav>
		<div class="logo">PharmaGest
			<label class="user">({{user}})</label>
		</div>
		<label for="btn" class="icon">
			<span class="fa fa-bars"></span>
		</label>
		<input type="checkbox" id="btn" class="hiddenbtn">
		<ul>
			<li><a href="/">Acceuil</a></li>
			<li><a href="{% url 'easycmd'%}">Commande</a></li>
			
			<li>
				
				<label for="btn-1" class="show">Journal + </label>
				<a href="#">Journal</a>
				<input type="checkbox" id="btn-1" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'cloture'%}">Cloturer</a></li>
					<li><a href="{% url 'visualiser'%} ">Editer l'écart</a></li>
					<li><a href="{% url 'visedit'%} ">Editer tous</a></li>
					<li><a href="{% url 'cashstat'%} ">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-2" class="show">Conventions + </label>
				<a href="#">Conventions</a>
				<input type="checkbox" id="btn-2" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'convention'%} ">Ajouter Brd</a></li>
					<li><a href="{% url 'convention'%}">Afficher Brd</a></li>
					<li><a href="{% url 'stat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li>
				<label for="btn-3" class="show">Lab + </label>
				<a href="#">Lab</a>
				<input type="checkbox" id="btn-3" class="hiddenbtn">
				<ul>
					<li><a href="{% url 'calclab'%}">Ajout Patient</a></li>
					<li><a href="{% url 'vislab'%}">Patients</a></li>
					<li><a href="{% url 'labstat'%}">Statistiques</a></li>
				</ul>
			</li>
			<li><a href="#">Contact</a></li>
			<li><a href="{% url 'logout' %}">Déconnecter</a></li>
		</ul>
	</nav>
	<h1>Les Statistiques Du Labo </h1>
	<div id="form-container">
		<form method="POST" action="">{% csrf_token %}
			<label style="font-weight: bold;"> De : </label>
			<input type="date" name="startdt" class="dt">
			<label style="font-weight: bold; margin-left: 5%"> Jusqu'à :</label>
			<input type="date" name="endt" class="dt">
			<input type="submit" name="send" value=" Calculer " class="btn btn-primary" id='btn-1' >

		</form>
	</div>
	<div id="p-container">
			<div id="div1" class="divs">
				<table>
					<tr>
						<th>Nbr Du Patients </th>
					</tr>
					<tr>
						<td class="td" id="td1"> {{count}} </td>
					</tr>
				</table>
			</div>
			<div id="div2" class="divs">
				<table>
					<tr>
						<th>Prix Lab </th>
					</tr>
					<tr>
						<td class="td" id="td2"> {{labprice}} </td>
					</tr>
				</table>
			</div>
			<div id="div3" class="divs">
				<table>
					<tr>
						<th>Prix Pharmacie </th>
					</tr>
					<tr>
						<td class="td" id="td3"> {{price}}</td>
					</tr>
				</table>
			</div>
			<div id="div4" class="divs">
				<table>
					<tr>
						<th>Payement Status </th>
					</tr>
					<tr>
						<td class="td" id="td4"> {{payement}}</td>
					</tr>
				</table>
			</div>
			<div  class="divs">
				<table>
					<tr>
						<th>Credit </th>
					</tr>
					<tr>
						<td class="td" id="not-p"> {{rest}}</td>
					</tr>
				</table>
			</div>
			<div id="div5" class="divs">
				<table>
					<tr>
						<th>Bénifice </th>
					</tr>
					<tr>
						<td class="td" id="td5"></td>
					</tr>
				</table>
			</div>
			<div id="div6" class="divs">
				<table>
					<tr>
						<th>Bénifice Réel </th>
					</tr>
					<tr>
						<td class="td" id="td6"></td>
					</tr>
				</table>
			</div>


		</div>
<script>
document.onload=calc()
function calc(){
	var sCount = parseInt(document.getElementById('td1').textContent);
	var labSum = parseInt(document.getElementById('td2').textContent);
	var phSum = parseInt(document.getElementById('td3').textContent);
	var payStat = parseInt(document.getElementById('td4').textContent);
	var benifit = phSum - ((sCount*100)+labSum);
	document.getElementById('td5').textContent =  benifit
	var notPayed = parseInt(document.getElementById('not-p').textContent);
	var rGain = benifit - notPayed
	document.getElementById('td6').textContent = rGain
};
</script>
</body>
</html>